* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* ~~~~~~~~~~~~ Pseudo Class ~~~~~~~~~~~~~~ */
a,
a:visited {
    color: black;
    text-decoration: none;
    font-weight: 700;
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    color: yellow;
    background-color: black;
}

a:active {
    color: red;
    background-color: transparent;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container {
    width: 80vw;
    margin: 10px auto;
    height: 400px;
    background-color: pink;
    border: 3px solid red;

    /* flexbox comes in */
    display: flex; /* makes everything flexible */

    flex-direction: column; /* by default it is row */

}

.container > * {
    text-align: center;
    padding-top: 15px;
    width: 70px;
    height: 70px;
    background-color: lightblue;
    border: 3px solid blue;
}